.recharts-default-legend {
    display: inherit;
}

.chart-container {
    width: 80%;
    margin: 0 auto;
    height: 35%;
    margin-bottom: 4rem;
}

.chart-container h1 {
    text-align: center;
    margin-bottom: 0;
}